<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>About </title>
<!-- 

Highway Template

https://templatemo.com/tm-520-highway

-->
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="../static/css/fontAwesome.css">
        <link rel="stylesheet" href="../static/css/light-box.css">
        <link rel="stylesheet" href="../static/css/templatemo-style.css">

        <link href="https://fonts.googleapis.com/css?family=Kanit:100,200,300,400,500,600,700,800,900" rel="stylesheet">

        <script src="../static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>

<body>

    <nav>
        <div class="logo">
            <a href="/">VISION<em>:D</em></a>
        </div>
      <div class="menu-icon">
        <span></span>
      </div>
    </nav>

    <div class="page-heading">
        <div class="container">
            <div class="heading-content">
                <h1>About <em>Us</em></h1>
            </div>
        </div>
    </div>


    <div class="services">
        <div class="container">
            <div class="col-md-4 col-sm-6">
                <div class="service-item">
                    <div class="icon">
                        <img src="../static/img/service_5.png" alt="">
                    </div>
                    <div class="text">
                        <h4>What is VISION:D ?</h4>
                        <p>Vision is a visual discovery engine for finding ideas or a glance of our institution gallery.
                            With billions thoughts, you'll always find ideas to spark inspiration. 
                           When you discover vision you love, save them , recall your days who are related with GMIT.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-item">
                    <div class="icon">
                        <img src="../static/img/service_2.png" alt="">
                    </div>
                    <div class="text">
                        <h4>Technology With VISION:D</h4>
                        <p>Look at each of the photos and how technology made them possible.
                             All  utilized a DSLR camera. Some of the shots utilized a tripod for stability. 
                             For all, the camera settings had to be adjusted to use available
                              light sources and expose the image properly.
                             </p></div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-item">
                    <div class="icon">
                        <img src="../static/img/service_6.png" alt="">
                    </div>
                    <div class="text">
                        <h4>Inspiration for Technology</h4>
                        <p>Your home feed is  where you'll find thoughts in pictures.By the picture of projects , machines and lots of thing, you'll definitely inspired and gain the confidence that I CAN !
                            <BR/>You can also search for visions by typing in keywords into the search bar.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-item">
                    <div class="icon">
                        <img src="../static/img/service_4.png" alt="">
                    </div>
                    <div class="text">
                        <h4>Mision</h4>
                        <p> VISION:D
                            Our mission is to bring everyone the inspiration to create a life they love.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-item">
                    <div class="icon">
                        <img src="../static/img/service_3.png" alt="">
                    </div>
                    <div class="text">
                        <h4>Help Center</h4>
                        <p>Can directly send us queries.<br/>ph:6294209476<br/>email:nibedita4360@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-item">
                    <div class="icon">
                        <img src="../static/img/service_1.png" alt="">
                    </div>
                    <div class="text">
                        <h4>Privacy Policy</h4>
                        <p>When you give it to us or give us permission to obtain it<br/> We also get technical information when you use Vision</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="more-about-us">
        <div class="container">
            <div class="col-md-5 col-md-offset-7">
                <div class="content">
                    <h2>Why the name , VISION :D ?</h2>
                    <span>Donec et nisi sed</span>
                    <p>
                        A vision is something seen in a dream, trance, or religious ecstasy, especially a supernatural appearance that usually conveys a revelation.
                        The name, VISION , because by your lense you can capture a view , maybe something will expose infront of your lense is a dream !!! Nothing is impossible ... Can be :)

                    <br><br>And, :D , means a smile like an infant , basically revail a emoji... <br/> START A JOURNEY WITH A SMILE :D...</p>
                   
                </div>
            </div>
        </div>
    </div>


   


      <!-- Modal button -->
    <div class="popup-icon">
      <button id="modBtn" class="modal-btn"><img src="../static/img/contact-icon.png" alt=""></button>
    </div>  

    <!-- Modal -->
    <div id="modal" class="modal">
      <!-- Modal Content -->
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h3 class="header-title">Say hello to <em>VISION:D</em></h3>
          <div class="close-btn"><img src="../static/img/close_contact.png" alt=""></div>    
        </div>
        <!-- Modal Body -->
        <div class="modal-body">
          <div class="col-md-6 col-md-offset-3">
            <form id="contact" action="/contact" method="post">
                <div class="row">
                    <div class="col-md-12">
                      <fieldset>
                        <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required="">
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <input name="email" type="email" class="form-control" id="email" placeholder="Your email..." required="">
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required=""></textarea>
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <button type="submit" id="form-submit" class="btn">Send Message Now</button>
                      </fieldset>
                    </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    

    <section class="overlay-menu">
      <div class="container">
        <div class="row">
          <div class="main-menu">
            <ul>
                <li>
                    <a href="/">HOME</a>
                </li>
                <li>
                    <a href="/log">LOGIN</a> <!--Home - Masonry-->
                </li>
                   
                <li>
                  <a href="/adminlog"> ADMIN LOGIN</a> <!--Home - Masonry-->
              </li>

                <li>
                    <a href="/reg">SIGN UP</a> <!--Home - Small-width-->
                </li>
              
                <li>
                    <a href="/about">ABOUT US</a>
                </li>
                
               
            </ul>
              
          </div>
        </div>
      </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../static/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="../static/js/vendor/bootstrap.min.js"></script>
    
    <script src="../static/js/plugins.js"></script>
    <script src="../static/js/main.js"></script>

</body>
</html>