<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Features</title>
    <script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>
    <link rel="stylesheet" href="../static/css/app.css">
    <link rel="stylesheet" href="../static/css/theme.css">

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <a class="navbar-brand font-weight-bolder mr-3" href="/">VISION:D</a>
    <button class="navbar-light navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsDefault">
    	<ul class="navbar-nav mr-auto align-items-center">
    		
				<li class="nav-item dropdown">
    				<a  style="border:rgb(255, 190, 190);  border-style:solid;" class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Search here... &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
    				<div class="dropdown-menu shadow-lg" aria-labelledby="dropdown01">
    					<a class="dropdown-item" href="/nature">Nature</a>
						<a class="dropdown-item" href="/green">Green Campus</a>
						<a class="dropdown-item" href="/festival">Festival</a>
						<a class="dropdown-item" href="/auditorium">Auditorium</a>
						<a class="dropdown-item" href="/cv1">Campus View - 1</a>
						<a class="dropdown-item" href="/cv2">Campus View - 2</a>
						<a class="dropdown-item" href="/food">Canteen</a>
    					<a class="dropdown-item" href="/music">Activities</a>
						<a class="dropdown-item" href="/game"> Sports</a>
    					<a class="dropdown-item" href="/science">Science Carnival</a>
						<a class="dropdown-item" href="/workshop">Workshop</a>
						<a class="dropdown-item" href="/others">Others</a>
    				</div>
    	</ul>
    	<ul class="navbar-nav ml-auto align-items-center">
    		<li class="nav-item">
    		<a class="nav-link " href="/category">Category</a>
    		</li>
			<li class="nav-item">
				<a class="nav-link " href="/uuploadsearch2">View Other Use Images</a>
				</li>
			<li class="nav-item">
				<a class="nav-link " href="/upload">Upload</a>
				</li>
			
    		<li class="nav-item">
    		<a class="nav-link" href="/about">About Us</a>
    		</li>
    		<li class="nav-item">
    		<a class="nav-link" href="/userviewprofile"><img class="rounded-circle mr-2" src="../static/img/av.png" width="30"><span class="align-middle">{{uname}}</span></a>
    		</li>
    		
    	</ul>
    </div>
    </nav>    
    <main role="main">
        
    
    <section class="mt-4 mb-5">
    <div class="container mb-4">
    	<h1 class="font-weight-bold title">Explore</h1>
    	<div class="row">
    		<nav class="navbar navbar-expand-lg navbar-light bg-white pl-2 pr-2">
    		<button class="navbar-light navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExplore" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
    		</button>
    		<div class="collapse navbar-collapse" id="navbarsExplore">
    			
    		</div>
    		</nav>
    	</div>
    </div>
    <div class="container-fluid" id="card">
    	<div class="row">
    		<div class="card-columns">
    			<div class="card card-pin" id="card">
    				<img class="card-img" src="http://source.unsplash.com/1600x900/?grass" alt="Card image">
    				<div class="overlay">
    					<h2 class="card-title title">Nature</h2>
    					<div class="more">
    						<a href="/nature">
    						<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
    					</div>
						
    				</div>
    			</div>
    			<div class="card card-pin" id="card">
    				<img class="card-img" src="http://source.unsplash.com/1600x900/?ducks" alt="Card image">
    				<div class="overlay">
    					<h2 class="card-title title">Campus View -1</h2>
    					<div class="more">
    						<a href="/cv1">
    						<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
    					</div>
						
    				</div>
    			</div>
    			<div class="card card-pin" id="card">
    				<img class="card-img" src="http://source.unsplash.com/1600x900/?flower" alt="Card image">
    				<div class="overlay">
    					<h2 class="card-title title">Flowers</h2>
    					<div class="more">
    						<a href="/flower">
    						<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
    					</div>
						
    				</div>
    			</div>
    			<div class="card card-pin" id="card">
    				<img class="card-img" src="http://source.unsplash.com/1600x900/?library " alt="Card image">
    				<div class="overlay">
    					<h2 class="card-title title">Campus View -1</h2>
    					<div class="more">
    						<a href="/cv1">
    						<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
    					</div>
    				</div>
				
    			</div>
    			<div class="card card-pin" id="card">
    				<img class="card-img" src="http://source.unsplash.com/1600x900/?grasses" alt="Card image">
    				<div class="overlay">
    					<h2 class="card-title title">Green Cmpus</h2>
    					<div class="more">
    						<a href="/green">
    						<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
    					</div>
    				
					
    			</div>
			</div>
    			<div class="card card-pin" id="card">
    				<img class="card-img" src="http://source.unsplash.com/1600x900/?grass tree" alt="Card image">
    				<div class="overlay">
    					<h2 class="card-title title">Campus View -2</h2>
    					<div class="more">
    						<a href="/cv2">
    						<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
    					</div>
    			
					
    			</div>
				</div>
    			
						
    				</div>
    			</div>
    			<div class="card card-pin" id="card">
    				<img class="card-img" src="http://source.unsplash.com/1600x900/?blue sky" alt="Card image">
    				<div class="overlay">
    					<h2 class="card-title title">Campus View -1</h2>
    					<div class="more">
    						<a href="/cv1">
    						<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
    					</div>
						
    				</div>
    			</div>
    			<div class="card card-pin" id="card">
    				<img class="card-img" src="http://source.unsplash.com/1600x900/?beautiful flowers" alt="Card image">
    				<div class="overlay">
    					<h2 class="card-title title">Flowers</h2>
    					<div class="more">
    						<a href="/flower">
    						<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
    					</div>
						
    				</div>
    			</div>
    			<div class="card card-pin" id="card">
    				<img class="card-img" src="http://source.unsplash.com/1600x900/?conference hall" alt="Card image">
    				<div class="overlay">
    					<h2 class="card-title title">Auditorium</h2>
    					<div class="more">
    						<a href="/auditorium">
    						<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
    					</div>
						
    				</div>
    			</div>
    			<div class="card card-pin" id="card">
    				<img class="card-img" src="http://source.unsplash.com/1600x900/?sky dark" alt="Card image">
    				<div class="overlay">
    					<h2 class="card-title title">Nature</h2>
    					<div class="more">
    						<a href="/nature">
    						<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
    					</div>
						
    				</div>
    			</div>
    			<div class="card card-pin" id="card">
    				<img class="card-img" src="http://source.unsplash.com/1600x900/?plantings " alt="Card image">
    				<div class="overlay">
    					<h2 class="card-title title">Tree Plantation</h2>
    					<div class="more">
    						<a href="/cv2">
    						<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
    					</div>
						
    				</div>
    			</div>
    			<div class="card card-pin" id="card">
    				<img class="card-img" src="http://source.unsplash.com/1600x900/?planting " alt="Card image">
    				<div class="overlay">
    					<h2 class="card-title title">Tree Plantation</h2>
    					<div class="more">
    						<a href="/cv2">
    						<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
    					</div>
						
    				</div>
    			</div>
    			<div class="card card-pin" id="card">
    				<img class="card-img" src="http://source.unsplash.com/1600x900/?canteen food" alt="Card image">
    				<div class="overlay">
    					<h2 class="card-title title">Canteen</h2>
    					<div class="more">
    						<a href="/food">
    						<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
    					</div>
						</div>
    			</div>
    			<div class="card card-pin" id="card">
    				<img class="card-img" src="http://source.unsplash.com/1600x900/?festival" alt="Card image">
    				<div class="overlay">
    					<h2 class="card-title title">Festival</h2>
    					<div class="more">
    						<a href="/festival">
    						<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
    					</div>
						
    				</div>
    			</div>
    			<div class="card card-pin" id="card">
    				<img class="card-img" src="http://source.unsplash.com/1600x900/?college fest" alt="Card image">
    				<div class="overlay">
    					<h2 class="card-title title">Festival</h2>
    					<div class="more">
    						<a href="/festival">
    						<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
    					</div>
						
    				</div>
    			</div>
    			<div class="card card-pin" id="card">
    				<img class="card-img" src="http://source.unsplash.com/1600x900/?games sports" alt="Card image">
    				<div class="overlay">
    					<h2 class="card-title title">Sports</h2>
    					<div class="more">
    						<a href="/game">
    						<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
    					</div>
						
    				</div>
    			</div>
    			<div class="card card-pin" id="card">
    				<img class="card-img" src="http://source.unsplash.com/1600x900/?computers" alt="Card image">
    				<div class="overlay">
    					<h2 class="card-title title">Science Carnival</h2>
    					<div class="more">
    						<a href="/science">
    						<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
    					</div>
						
    				</div>
    			</div>
    			<div class="card card-pin" id="card">
    				<img class="card-img" src="http://source.unsplash.com/1600x900/?workshop" alt="Card image">
    				<div class="overlay">
    					<h2 class="card-title title">Workshop</h2>
    					<div class="more">
    						<a href="/science">
    						<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
    					</div>
						
    				</div>
    			</div>
    			<div class="card card-pin" id="card">
    				<img class="card-img" src="http://source.unsplash.com/1600x900/?feast;" alt="Card image">
    				<div class="overlay">
    					<h2 class="card-title title">Festival</h2>
    					<div class="more">
    						<a href="/festival">
    						<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
    					</div>
    			
						
    			</div>
    		</div>
    	</div>
    </div>
    </section>
        
    </main>

    <script src="../static/js/app.js"></script>
    <script src="../static/js/theme.js"></script>
    
    <footer class="footer pt-5 pb-5 text-center">
        
    <div class="container">
        
          <div class="socials-media">
    
            <ul class="list-unstyled">
              <li class="d-inline-block ml-1 mr-1"><a href="https://www.facebook.com/nibedita.dey.524596" class="text-dark"><i class="fa fa-facebook"></i></a></li>
              <li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-twitter"></i></a></li>
              <li class="d-inline-block ml-1 mr-1"><a href="https://www.instagram.com/__nibedita_dey__/" class="text-dark"><i class="fa fa-instagram"></i></a></li>
              
            </ul>
    
          </div>
        
           
    
    
        </div>
        
    </footer> 
	
	
<script>
	$(document).ready(function(){
		$("#myInput").on("keyup",function(){
        var value = $(this).val().toLowerCase();
		$("#card").filter(function(){
			$(this).toggle($(this).text().toLowerCase().indexof(value) > -1);

		} );
    });
	      });



</script>

</body>
    
</html>
